.pading1{
        background-color: #9C223C;
}
    
.text1{
        color: white;
        font-size: 40px;
        display: flex;
      align-items: center;
      justify-content: center;
      min-height: 15vh;
 }
    
.text2{
        color: #707070;
        font-size: 20px;
        width: 100%;
      margin-right: auto;
      margin-left: auto;
}

.header {
        color: #000000;
        font-size: 27px;
        padding: 10px;
}
    
.bigicon {
        font-size: 35px;
        color: #000000;
}

.btnw{
        color: rgb(255, 255, 255);
        background-color: #9C223C;
        align-items: end center;
        border-radius: 20px; /* Borde del boton */
        height: 80px;
        width: 280px;
        right: 20px;
        letter-spacing: 2px; /* Espacio entre letras */
        font-size: 18px;
        text-transform: uppercase;
}

.btn-regresar{
        background-color: transparent;
        border: transparent;
}

body{
        background-color:#f5f5f5;
      }