<div style="background-color: #9c223c; height:100vh; width:auto;">
    <nav class="navbar navbar-dark bg-dark fixed-top">
        <div class="container-fluid text-center">
            <a class="navbar-brand" href="#">
                <img src="{{icongif}}" style="width: 100px;" alt="logo">
            </a>
            <a class="navbar-brand" href="#">EDITAR HORARIO SERVICIO</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                      <li class="nav-item">
                        <button class="btn btn-outline-success" aria-current="page" (click)="goApertura()"><i class="bi bi-person-fill-gear"></i> Apertura de Servicios</button>
                      </li>
                      <br>
                      <li class="nav-item">
                        <button class="btn btn-outline-success" aria-current="page" (click)="goHorarioServicio()"><i class="bi bi-clock"></i> Horarios de Servicio</button>
                      </li>
                      <br>
                      <li class="nav-item">
                        <button class="btn btn-outline-success" aria-current="page" (click)="goServiciosIniciados()"><i class="bi bi-play-fill"></i> Servicio Iniciado</button>
                      </li>
                      <br>
                      <li class="nav-item">
                        <button class="btn btn-outline-danger" aria-current="page" (click)="goCerrar()"><i class="bi bi-box-arrow-left"></i> Cerrrar Sesion</button>
                      </li>
                      </ul>
                  </div>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row g-4 ">
            <div class="col-4 ">
                <label style="color: aliceblue;">RUTA:</label>
                <div class="form-floating " >
                    <input class="form-control "placeholder="Introduce tu nombre" required style="color: black;"/>
                </div>
            </div>
            <div class="col-4">
                <label style="color: aliceblue;">TIPO DE UNIDAD:</label>
                <div class="form-floating">
                    <input class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <label style="color: aliceblue;">INTERVALO:</label>
                <div class="form-floating">
                    <input   class="form-control" type="number" id="tentacles" name="tentacles" min="0" max="100">
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="item-center ">
            <div class="row g-0">
                <div class="col-4 mx-auto">
                    <label style="color: aliceblue;">CORRIDA:</label>
                    <div class="form-floating">
                        <input class="form-control"/>
                    </div>
                </div>
                <div class="col-4 mx-auto">
                    <label style="color: rgb(247, 247, 247);">PRIMERA SALIDA: </label>
                    <div class="form-floating">
                         <input  class="form-control" type="time" name="horaarribo" min="12:00" max="18:00" step="600">                        
                    </div>
                </div>
            </div>
        </div>
       
    <br>
    <br>
    <br>
    <br>
    <p align="right">
        <button type="button"  class="btn btn-success col-2" style="background-color: rgb(73, 167, 167); height: 40px;">ACTUALIZAR</button>
    </p>
<br>
<br>
<br>
<br>
<br>
    <div class="text-center">
        <img src="https://i.ibb.co/WkMWkrt/image.png " style="width: 700px;">
    </div>
</div>
