<app-header-admin></app-header-admin>
<app-header-asignacion></app-header-asignacion><!--barra de navegacion-->

<div class="container">
    <h3>ASIGNACIÓN</h3>
    <div class="container">
        <hr>
        <div class="container text-center">
          <h4>SITMAH</h4>
        </div>
        <table role="table" class="table table-bordered table-fixed text-center">
            <thead role="rowgroup">
              <tr role="row">
                <th role="columnheader">USUARIO</th>
                <th role="columnheader">NOMBRE</th>
                <th role="columnheader">APELLIDO PATERNO</th>
                <th role="columnheader">APELLIDO MATERNO</th>
                <th role="columnheader">RADIO</th>
                <th role="columnheader"></th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <tr role="row">
                <td role="cell">PERRITA-1</td>
                <td role="cell">URIEL</td>
                <td role="cell">CRUZ</td>
                <td role="cell">VITE</td>
                <td role="cell">10</td>
                <td role="cell">
                    <div class="d-grid d-md-block">
                        <button class="btn btn-outline-dark" type="button" style="background-color: #D118BE;">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-outline-dark" type="button" style="background-color: red;">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                      </div>
                </td>
              </tr>
              <tr role="row">
                <td role="cell">PERRITA-2</td>
                <td role="cell">JESUS</td>
                <td role="cell">RUIZ</td>
                <td role="cell">LOPEZ</td>
                <td role="cell">15</td>
                <td role="cell">
                    <div class="d-grid d-md-block">
                        <button class="btn btn-outline-dark" type="button" style="background-color: #D118BE;">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-outline-dark" type="button" style="background-color: red;">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                      </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
</div>