<div style="background-color: #9c223c; height:127vh; width:auto;">
  <!-- NAVBAR -->
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{icongif}}"
                  style="width: 90px;" alt="logo"></a>

                  <a class="navbar-brand" href="#"> Apertura de Servicio</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <button class="btn btn-outline-success" aria-current="page" href="#"><i class="bi bi-person-fill-gear"></i> Administrar Verificadores</button>
            </li>
            <br>
            <li class="nav-item">
              <button class="btn btn-outline-success" aria-current="page" (click)="goHorarioServicio()"><i class="bi bi-clock"></i> Horarios de Servicio</button>
            </li>
            <br>
            <li class="nav-item">
              <button class="btn btn-outline-success" aria-current="page" (click)="goServiciosIniciados()"><i class="bi bi-play-fill"></i> Servicio Iniciado</button>
            </li>
            <br>
            <li class="nav-item">
              <button class="btn btn-outline-danger" aria-current="page" (click)="goCerrar()"><i class="bi bi-box-arrow-left"></i> Cerrrar Sesion</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- End NAVBAR-->
  <!-- Upload  -->
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<div>
<form id="file-upload-form" class="uploader" >
<input id="file-upload" type="file" (change)="fileUpload($event)" name="fileUpload" accept=".xls,.xlsx" />

<label for="file-upload" id="file-drag">

  <div id="start">
    <i class="fa fa-download" aria-hidden="true"></i>
    <div>Selecciona un archivo o suelta aqui</div>
    <div id="notimage" class="hidden"></div>
    <span id="file-upload-btn" class="btn btn-primary">Selecciona un documento</span>
  </div>
  <div id="response" class="hidden">
    <div id="messages"></div>
    <progress class="progress" id="file-progress" value="0">
      <span>0</span>%
    </progress>
  </div>
</label>
</form>
</div>



<div class="container">
<p style="color: #9c223c;">tu no haz visto nada.</p>
<div class="ex1">
  <table class="table table-responsive">
    <table class="table table-dark border" >
    <thead>
      <tr>
        <th scope="col">Tipo Unidad</th>
        <th>Ruta</th>
        <th>Economico</th>
        <th>No Tarjeton</th>
        <th>Nombre</th>
        <th>Corrida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of ExcelData">
        <td>{{data.tipoUnidad}}</td>
        <td>{{data.ruta}}</td>
        <td>{{data.economico}}</td>
        <td>{{data.tarjeton}}</td>
        <td>{{data.nomChofer}}</td>
        <td>{{data.fkCorrida}}</td>

      </tr>
    </tbody>
  </table>
</table>
</div>
<p align="right">
<button  class="btn btn-success" (click)="sendAsignacion()">Subir Asignaicon</button>
</p>
<div *ngIf="(respuesta == true)" class="alert alert-success" role="alert">Asignacion Correcta</div>
    <div *ngIf="(respuesta == false)" class="alert alert-success" role="alert">Hubo un error</div>
    <div *ngIf="(estadodiv ==null )" class="alert alert-danger" role="alert">Sin asignacion</div>
    <div *ngIf="(estadodiv !=null )" class="alert alert-danger" role="alert">Ya existe una asignacion</div>
</div>
</div>
