.pading1{
    background-color: #9C223C;
}

.text1{
    color: white;
    font-size: 40px;
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}

.text2{
    color: #707070;
    font-size: 20px;
    width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.header {
    color: #000000;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #000000;
}

.btn-limpieza{
    color: rgb(255, 255, 255);
    background-color: #9C223C;
    font-size: 20px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase;
    align-items: self-end; /* Texto en mayusculas */
}
.btn {
	font-size: 20px; /* Cambiar el tamaño de la tipografia */
	border-radius: 20px; /* Borde del boton */
	background-color: transparent; /* Color de fondo */
	padding: 15px 15px; /* Relleno del boton */
    height: 10px;
    width: 10px;
	right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    


}

.btng{
    color: rgb(255, 255, 255);
    background-color: #9C223C;
     height: 40px;
    width: 120px;
	right: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


