<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="#">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            LIMPIEZA
          </span>
        </div>
      </div>
    </nav>
  </header>
  
  <a href="titanes-menu">
    <button type="button" class="btn-regresar"><i class="bi bi-arrow-left" style="font-size: 30px;"></i>
    </button>
  </a>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
              <!--aqui ira el boton-->
                <form  (submit)="enviarInformeLimpieza()" class="form-horizontal" method="post">
                    <fieldset>
                        <p class="fw-normal">
                          
                        
                            <legend class="text-center header"> Limpieza de estaciones</legend>
                        </p>
                        
                        <!--fecha-->

                       <input type="datetime" name="fechahora" step="1" min="2013-01-01T00:00Z" max="2013-12-31T12:00Z" value="2013-01-01T12:00">                        
                        
                       <hr style="border: 2px solid transparent;"> <!---->

                        <!--estaciones-->
                        
                        <input class="form-control mb-5" list="datalistOptions"  placeholder="Nombre de la estacion" style="width: 300px" [(ngModel)]="Estacion" name="Estacion">
                        <datalist id="datalist">
                            <option value="1. Terminal Téllez">
                            <option value="2. Gabriel Mancera">
                            <option value="3. Matilde">
                            <option value="4. Efrén Rebolledo">
                            <option value="5. Tercera Edad">
                            <option value="6. San Antonio">
                            <option value="7. Ejercito Mexicano">
                            <option value="8. Felipe Ángeles">
                            <option value="9. Centro de Justicia Oriente">
                            <option value="9. Centro de Justicia Poniente">
                            <option value="10. Vicente Segura">
                            <option value="11. Juan C. Doria">
                            <option value="12. Hospitales">
                            <option value="13. SEPH">
                            <option value="14. Tecnológico"> 
                            <option value="15. Bicentenario Oriente">
                            <option value="15. Bicentenario Poniente">
                            <option value="16. Centro Minero">
                            <option value="17. Zona Plateada"> 
                            <option value="18. Tecnológico de Monterrey">
                            <option value="19p. Estadio Hidalgo">
                            <option value="19o. Central de Autobuses">
                            <option value="20. Cuna de Futbol">
                            <option value="21. Santa Julia">
                            <option value="22. Prepa 1">
                            <option value="23o. Revolución">
                            <option value="23p. Bioparque"> 
                            <option value="24o. Manuel Dublán">
                            <option value="24p. Parque del Maestro">
                            <option value="25o. Presidente Alemán">
                            <option value="25p. Plaza Juárez"> 
                            <option value="26. Niños Heroes Oriente">
                            <option value="26. Niños Heroes Poniente">
                            <option value="27. Centro Histórico">      
                                    
                        </datalist>

                        <!--acciones-->

                        <div class="form-check fs-5 mb-3">
                            <span class="col-md-1 col-md-offset-2 "><i class="fa fa-user bigicon"></i></span>
                            <div class="checkbox">
                                <label><input type="checkbox" [(ngModel)]="LimpiezaPiso" name="LimpiezaPiso">  Limpieza de piso
                              </label>
                              </div>
                        </div>

                        <div class="form-check tex fs-5 mb mb-3">
                        <div class="checkbox">
                            <label><input type="checkbox" value="true" [(ngModel)]="LimpiezaVidrio" name="LimpiezaVidrio" >  Limpieza de vidrio</label>
                          </div>
                        </div>

                        <div class="form-check tex fs-5 mb-3">
                          <div class=>
                            <label><input type="checkbox" value="true" [(ngModel)]="LimpiezaServicio" name="LimpiezaServicio" >  Limpieza de área de servicio</label>
                          </div>
                        </div>

                        <div class="form-check tex fs-5 mb-3">
                          <div class="checkbox">
                            <label><input type="checkbox" value="true" [(ngModel)]="LimpiezaEstructura" name="LimpiezaEstructura" >  Limpieza de estructura</label>
                          </div>
                        </div>

                          <div class="form-check tex fs-5 mb-3">
                          <div class="checkbox">
                            <label><input type="checkbox" value="true" [(ngModel)]="LimpiezaTorniquetez" name="LimpiezaTorniquetez" >  Limpieza de torniquete en espacios de VRT</label>
                          </div>
                        </div>

                          <div class="form-check tex fs-5 mb-5">
                          <div class="checkbox">
                            <label><input type="checkbox" value="true" [(ngModel)]="LimpiezaSanitarios" name=" LimpiezaSanitarios" >  Limpieza de sanitarios</label>
                          </div>
                        </div>

                        <div class="mb-3">
                          <label for="formGroupExampleInput" class="form-label">Obervaciones</label>
                          <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Escribe tus observaciones" [(ngModel)]="Observaciones" name="Observaciones" >
                        </div>


                        <!--boton de guardar-->

                        <div class="form-group position-relative">
                            <div class="col-md-12 text-center position-absolute top-100 start-50 translate-middle">
                                <button type="submit" class="rounded-pill btn-limpieza" style="font-size: 20px;">Guardar</button>        <!--boton btn-limpieza en css-->
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>