<header style="background-color: #9C223C;">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid pading1">
      <a class="navbar-brand text1" href="http://sitmah.hidalgo.gob.mx/">SITMAH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <span class="navbar-text text1">
          INICIO
        </span>
      </div>
    </div>
  </nav>
</header>

<body>

  <div class="back-c">
    <nav class="navbar">
      <div class="container">
          <li class="item-5 deeper parent" style="list-style-type: none; width: 100px;"><!-- de esta forma le quitamos el puntito de li-->
          <button class="btn btn-outline-dark text2" type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#menuLateral">
          <i class="bi bi-list-ul" style="color: black;"></i>
          </button>
          </li>
          <li class="item-5 deeper parent" style="list-style-type: none; width: 100px;">
              <a href="#" class="nav-link link-dark">
                <button type="button" class="btn btn-outline-dark text2">
                  <i class="bi bi-house-door" style="color: black;"></i>
                </button>
              </a>
            </li>
            <li class="item-5 deeper parent" style="list-style-type: none; width: 100px;">
              <a href="Ubicacion_Titan" class="nav-link link-dark">
                <button type="button" class="btn btn-outline-dark text2">
                  <i class="bi bi-geo-alt-fill" style="color: black;"></i>
                </button>
              </a>
            </li>

          <section class="offcanvas offcanvas-start" id="menuLateral" tabindex="-1" style="width: 280px;">
              <div class="d-flex flex-column flex-shrink-0 p-3" style="width: 280px; height: 100vh;">
                  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                    <span class="fs-4">MENU</span>
                  </a>
                  <hr>
                  <ul class="nav nav-pills flex-column mb-auto">
                    <li class="item-5 deeper parent" style="list-style-type: none;">
                      <a href="Verificacion/Inicio" class="nav-link link-dark">
                        <button type="button" class="btn btn-outline-dark text2"><i class="bi bi-folder2-open"></i>
                          DESPACHO</button>
                      </a>
                    </li>
                    <hr>
                    <li class="item-5 deeper parent" style="list-style-type: none;">
                      <a href="titanes" class="nav-link link-dark">
                        <button type="button" class="btn btn-outline-dark text2">
                          <i class="bi bi-file-earmark-person"></i>
                          TITANES
                        </button>
                      </a>
                    </li>
                    <li class="item-5 deeper parent" style="list-style-type: none;">
                      <a href="Verificadores/ConsultaServicio" class="nav-link link-dark">
                        <button type="button" class="btn btn-outline-dark text2">
                          <i class="bi bi-file-earmark-person"></i>
                          VERIFICADORES
                        </button>
                      </a>
                    </li>
                    <li class="item-5 deeper parent" style="list-style-type: none;">
                      <a href="inicio_titanes" class="nav-link link-dark">
                        <button type="button" class="btn btn-outline-dark text2">
                          <i class="bi bi-file-earmark-person"></i>
                          USER-TITANES
                        </button>
                      </a>
                    </li>
                    <li class="item-5 deeper parent" style="list-style-type: none;">
                      <a href="inicio-admin" class="nav-link link-dark">
                        <button type="button" class="btn btn-outline-dark text2">
                          <i class="bi bi-file-earmark-person"></i>
                          ADMIND
                        </button>
                      </a>
                    </li>
                    <li class="item-5 deeper parent" style="list-style-type: none;">
                      <a href="PrestamoVehicular" class="nav-link link-dark">
                        <button type="button" class="btn btn-outline-dark text2">
                          <i class="bi bi-file-earmark-person"></i>
                         USAR VEHICULO VEHICULO
                        </button>
                      </a>
                    </li>
                  </ul>
                  <hr>
                  <ul>
                    <div class="dropdown">
                      <li class="item-5 deeper parent" style="list-style-type: none;">
                        <a href="#" class="nav-link link-dark">
                          <button type="button" class="btn btn-outline-dark text2">
                            <i class="bi bi-box-arrow-right"></i>
                            SALIR
                          </button>
                        </a>
                      </li>
                    </div>
                  </ul>
                </div>
          </section>
      </div>
    </nav>
    <div class="container back-c"   style="text-align: center;">
      <app-stacks></app-stacks>

    </div>
      <div class="container" >
          <div>
            <button type="button" class="btn-flotante" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@fat">
              <i class="bi bi-chat-left-text"></i>
           </button>
          </div>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title fw-bold" id="exampleModalLabel">NUEVO MENSAJE</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="background-color: rgb(29, 29, 29); margin-top: 30px;">
                  <form (submit)="enviarMensaje()" style="background-color: rgb(12, 12, 12); color: white;">
                    <div class="mb-3">
                      <label for="titulo" class="col-form-label" required="required">Titulo:</label>
                      <input type="text" class="form-control" id="titulo" name="Titulo_Pub" [(ngModel)]="Titulo_Pub" [required]="Titulo_Pub">
                    </div>
                    <div class="mb-3">
                      <label for="Mensaje-text" class="col-form-label">Mensaje:</label>
                      <textarea class="form-control"  id="mensaje" name="Descripcion_Pub" [(ngModel)]="Descripcion_Pub"></textarea>
                    </div>
                    <!--<div class="mainPage">
                      <input type="file" (change)="onFileChanged($event)" >aqui se selecciona la imagen
                      <br />
                    </div>-->
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-outline-danger">ENVIAR</button>
                </div>
              </form>
            </div>
              </div>
            </div>
          </div>
      </div>

  </div>

    <img src="../../../../../assets/logo_hidalgo.png" style="width: 150px; height: 150px;">
    <img src="../../../../../assets/logo_sitmah.jpeg" style="width: 250px; height: 150px;">

</body>

