<div style="background-color: #9c223c; height:115vh; width:auto;">
  <nav class="navbar navbar-dark bg-dark fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{icongif}}" style="width: 90px;" alt="logo">
      </a>
      <a class="navbar-brand" href="#">Verificar Unidad</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <button class="btn btn-outline-danger" aria-current="page" (click)="goCerrar()"><i class="bi bi-box-arrow-left"></i>
                Cerrrar Sesion</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
      <p align="right">
        <button class="btn btn-warning" (click)="toggleDisabled()" id="editBlock"></button>
      </p>
      <div *ngFor="let data of dataAsignacion" class="row">
        <div class="form-group ">
          <label for="exampleFormControlInput" class="colorwhite">No.Unidad</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" value="{{data.economico}}" [disabled]="isDisable">
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">No.Tarjeton</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" value="{{data.tarjeton}}" [disabled]="isDisable">
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">Ruta</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" value="{{data.ruta}}" [disabled]="isDisable">
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">Corrida</label>
          <input type="text" class="form-control" id="corrida" value="{{data.corrida}}"  name="corrida" [disabled]="isDisable">
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">Hora de Acople</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" value="{{data.horarioSalida}}" [disabled]="isDisable">
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="colorwhite">Observaciones</label>
          <textarea class="form-control" id="Observaciones" rows="7" name="Observaciones"
            placeholder="Introduce tus observaciones" [(ngModel)]="Observaciones"></textarea>
        </div>

      <br>

      <div align="center">
        <button type="submit" class="btn btn-success text-center col-12" (click)="goLiberarUnidad(data.corrida,data.fecha)">Liberar</button>
      </div>
      <br>
      <br>
      <div align="center">
        <button type="submit" class="btn btn-danger text-center col-12" >Reportar</button>
      </div>
    </div>

    <br>

  </div>
</div>
