<div style="background-color: #9c223c; height:100vh; width:auto;">
  <nav class="navbar navbar-dark bg-dark fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="" style="width: 90px;" alt="logo">
      </a>
      <a class="navbar-brand" href="#">Validar Unidad</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <button class="btn btn-outline-danger" aria-current="page" href="#"><i class="bi bi-box-arrow-left"></i>
                Cerrrar Sesion</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <div class="container">
    <form action="" method="post">
      <div class="row">
        <div class="form-group ">
          <label for="exampleFormControlInput" class="colorwhite">No.Unidad</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="102" readonly>
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">No.Tarjeton</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="502" readonly>
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">Ruta</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="T01" readonly>
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">Corrida</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="106" readonly>
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlInput1" class="colorwhite">Hora de Acople</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="5:50" readonly>
        </div>
        <br><br><br>
        <div class="form-group">
          <label for="exampleFormControlTextarea1" class="colorwhite">Observaciones</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"
            placeholder="Introduce tus observaciones"></textarea>
        </div>
      </div>
      <br>

      <div align="center">
        <button type="submit" class="btn btn-success text-center col-12">Liberar</button>
      </div>
    </form>
    <br>
    <div class="text-center">
      <img src="https://i.ibb.co/WkMWkrt/image.png " style="width: 400px;">
    </div>
  </div>
</div>
