<div class="row" align="center">
  <div class="col-6">
    <div style="display: block;">
      <canvas baseChart class="chart text-center"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType">
      </canvas>
    </div>
  </div>
  <div class="col-6">
    <div style="display: block;">
      <canvas baseChart class="chart text-center"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType">
      </canvas>
    </div>
  </div>
</div>
