<div class="row" align="center">
  <div class="col-6">
    <h1>Programadas - En Servicio</h1>
    <div style="display: block;">
      <canvas baseChart class="chart text-center"
        [data]="barChartData"
        [options]="barChartOptions"
        [type]="barChartType">
      </canvas>
    </div>
  </div>
  <div class="col-5">
    <H1>Corridas Faltantes durante el despacho</H1>
    <div style="display: block;">
      <canvas baseChart class="chart"
        [data]="pieChartData"
        [type]="pieChartType"
        [options]="pieChartOptions">
</canvas>
    </div>
  </div>
</div>
