<header style="background-color: #9C223C;">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid pading1">
      <a class="navbar-brand text1" href="#">SITMAH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <span class="navbar-text text1">
          INCIDENCIAS TECNOLOGICAS
        </span>
      </div>
    </div>
  </nav>
</header>

<a href="titanes-menu">
  <button type="button" class="btn-regresar"><i class="bi bi-arrow-left" style="font-size: 30px;"></i>
  </button>
</a>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="well well-sm">
              <form class="form-horizontal" method="post">
                  <fieldset>
                      <p class="fw-normal">
                        
                      
                          <legend class="text-center header">Incidencias tecnologicas</legend>
                      </p>
                      
<div class="col-md-1" style="text-align: left">
  <input type="datetime" name="fechahora" step="1" min="2013-01-01T00:00Z" max="2013-12-31T12:00Z" value="2013-01-01T12:00">   <!--Hora y fecha-->
</div>

<hr style="border: 2px solid transparent;">

<div class="mb-3">
  <input type="text" class="col-md-2 form-control rounded-pill container px-4" id="formGroupExampleInput" placeholder="Servicio o estación" style="width: 700px; height: 40px">
</div>

<hr style="border: 2px solid transparent;">

<div class="mb-3">
  <input type="text" class="col-md-2 form-control rounded-pill container px-4" id="formGroupExampleInput" placeholder="ECO" style="width: 700px; height: 40px">
</div>                       
<hr style="border: 2px solid transparent;">

<input class="col-md-2 form-control rounded-pill container px-4" list="datalistOptions" id="exampleDataList" placeholder="Equipo Afectado" style="width: 700px; height: 40px">
<datalist id="datalistOptions">
  <option value="Barras">
    <option value="CET">
    <option value="Consolas">
    <option value="Camaras">
    <option value="DVR">
    <option value="Torniquetes">
    <option value="VRT">
    <option value="Pantallas">                                  
    <option value="SITE">
    <option value="Fibra optica">
    <option value="Servidores">
    <option value="Equipo de computo">
    <option value="Sistema de pago electrÓnico">
    <option value="Sistema de Gestión de flota">
    <option value="Sistema de Video Vigilancia">
    <option value="Sistema de Información al Usuario">
    <option value="Sistema de Semaforización">
</datalist>

<hr style="border: 2px solid transparent;">

<div class="mb-3">
  <input type="text" class="col-md-2 form-control rounded-pill container px-4" id="formGroupExampleInput" placeholder="Falla" style="width: 700px; height: 40px">
</div> 

<hr style="border: 2px solid transparent;">

<div class="modal-footer rounded-pill">
  <button type="buttons" class="btng">Guardar</button>
</div>