<header style="background-color: #9C223C;">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid pading1">
      <a class="navbar-brand text1" href="#">SITMAH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <span class="navbar-text text1">
          INCIDENCIAS TECNOLOGICAS
        </span>
      </div>
    </div>
  </nav>
</header><nav class="navbar navbar-light bg-light">
  <i class="bi bi-arrow-left"></i>
</nav>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="well well-sm">
              <form class="form-horizontal" method="post">
                  <fieldset>
                      <p class="fw-normal">
                          <legend class="text-center header fw-bold">Incidencias Tecnologicas</legend>
                      </p>

<div class="col-md-1" style="text-align: left">
  <span class=".selector"> FECHA: 00/00/00 </span>
</div>

<div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Servicio</label>
  <input type="text" class="col-md-2 form-control rounded-pill container px-4" id="formGroupExampleInput" placeholder="Example input placeholder">
</div>

<input class="col-md-2 form-control rounded-pill container px-4" list="datalistOptions"  placeholder="ECO">
                        <datalist id="datalistOptions">
                            <option value="001">
                            <option value="033">
                            <option value="152">
                            <option value="090">           
                        </datalist>

<input class="col-md-2 form-control rounded-pill container px-4 " list="datalistOptions"  placeholder="Equipo afectado">
                        <datalist id="datalistOptions">
                            <option value="001">
                            <option value="033">
                            <option value="152">
                            <option value="090">           
                        </datalist>

<input class="col-md-2 form-control rounded-pill container px-4" list="datalistOptions"  placeholder="Falla">
                        <datalist id="datalistOptions">
                            <option value="001">
                            <option value="033">
                            <option value="152">
                            <option value="090">           
                        </datalist>

                        <div class="modal-footer">
                          <button type="buttons" class="btng">Guardar</button>
                        </div>