<app-header></app-header>
<app-nav-bar-limpieza></app-nav-bar-limpieza>
<div class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid" >
      <a class="navbar-brand">INFORMES DE LIMPIEZA DEL
        <select class="form-select" aria-label="Default select example" style="border: none; box-shadow: none;">
          <option selected>DIA</option>
          <option value="1">LUNES</option>
          <option value="2">MARTES</option>
          <option value="3">MIERCOLES</option>
          <option value="3">JUEVES</option>
          <option value="3">VIERNES</option>
          <option value="3">SABADO</option>
          <option value="3">DOMINGO</option>
        </select>
    </a>
      <div class=" d-flex">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search Here" ng-model="estToday">
      </div>
        <button class="btn" type="submit" style="font-size: 25px; margin: 10px;">
          <i class="bi bi-download"></i>
        </button>
      </div>
    </div>
    <div class="container">
      <span>NOMBRE TITAN</span>
    </div>

    <div class="container justify-content-center" >
      <hr>
      <table role="table" class="table table-bordered table-fixed">
          <thead role="rowgroup">
            <tr role="row">
              <th role="columnheader">FECHA</th>
              <th role="columnheader">AREA DE LIMPIEZA</th>
              <th role="columnheader">Limpieza de piso</th>
              <th role="columnheader">Limpieza de vidrio</th>
              <th  role="columnheader">Limpieza de area de servicio</th>
              <th  role="columnheader">Limpieza de estructura</th>
              <th  role="columnheader">Limpieza de torniquete en 
                espacios de venta y recarga
                de tarjeta</th>
                <th role="cell">Limpieza de sanitarios</th>
              <th role="columnheader">Observaciones</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            <tr role="row" *ngFor="let estacion of estaciones">
              <td role="cell">{{estacion.Fecha_Estacion}}</td>
              <td role="cell">{{estacion.Estacion}}</td>
              <td role="cell">{{estacion.LimpiezaPiso}}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  
