/* Archivos de estilos para el header*/
.pading1{
    background-color: #9C223C;
}

.text1{
    color: white;
    font-size: 40px;
    display: flex;
  align-items: center;
  justify-content: center;
  min-height: 15vh;
}


.text2{
    color: #707070;
    font-size: 20px;
    width: 100%;
  margin-right: auto;
  margin-left: auto;
}

/*
	Ancho máximo antes de que esta tabla EN PARTICULAR se vuelva desagradable. Esta consulta surtirá efecto para cualquier pantalla de menos de 760 px y también para iPad específicamente.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Forzar la mesa para que ya no sea como mesas*/
		table, thead, tbody, th, td, tr {
			display: block;
		}

		/* Ocultar encabezados de tabla (pero no mostrar: ninguno; para accesibilidad)*/
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
    tr:nth-child(odd) {
      background: #ccc;
    }
    
		td {
			/* 
             Comportarse como una "fila" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Ahora como un encabezado de tabla*/
			position: absolute;
			/* Los valores superior/izquierdo imitan el relleno */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

		/*
		 
Etiquetar los datos
    También puede usar un atributo y contenido data-* para esto. De esa manera "infla" el HTML, de esta manera significa que necesita mantener HTML y CSS sincronizados. Lea Verou tiene una forma inteligente de manejar la sombra de texto.
		*/
		td:nth-of-type(1):before { content: "TITAN/ANALISTA"; }
		td:nth-of-type(2):before { content: "HORA REGISTRO"; }
		td:nth-of-type(3):before { content: "SERVICIO"; }
		td:nth-of-type(4):before { content: "VEHICULO(ECO)"; }
		td:nth-of-type(5):before { content: "EQUIPO AFECTADO"; }
		td:nth-of-type(6):before { content: "FALLA"; }
	}

	thead tr th { 
        position: sticky;
        top: 0;
        text-align: center;
        z-index: 10;
        font-weight: bold; /* Fuente en negrita o bold */
        background-color: white;
    }