
<app-header></app-header>
<app-nav-bar-limpieza></app-nav-bar-limpieza>


<div class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand">INFORME DEL DIA</a>
  
<!--<div class="row">
  <div class="col-xs-12 col-12 col-md-12 form-group mb-6">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker>
  </div>
</div>-->

      <div class=" d-flex">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-text bg-white">
              <i class="bi bi-search"></i>
            </div>
            <input class="form-control" type="text" name="search" [(ngModel)]="term" autocomplete="on" placeholder=" Escriba la Estacion">
          </div>

        </div>
      </div>
      <button (click)="descargarPDF()" class="btn" type="button" style="font-size: 25px; margin: 10px;">
        <i class="bi bi-download"></i>
      </button>
    </div>
  </nav>
</div>
<form id="limpiezaDia">
<hr>
    <div class="container justify-content-center" >
      <hr>
      <table #content role="table" class="table table-dark table-borderless">
          <thead role="rowgroup">
            <tr role="row" style="text-align: center;">
              <th role="columnheader">Estació,pn</th>
              <th role="columnheader">Fecha</th>
              <th role="columnheader">Limpieza de piso</th>
              <th role="columnheader">Limpieza de vidrio</th>
              <th role="columnheader">Limpieza de area de servicio</th>
              <th role="columnheader">Limpieza de estructura</th>
              <th role="columnheader">Limpieza de torniquete en 
                espacios de venta y recarga
                de tarjeta</th>
              <th role="columnheader">Limpieza de sanitarios</th>
              <th role="columnheader">Observciones</th>
              <!--<th role="columnheader">¿Quien superviso?</th>-->
            </tr>
          </thead>
          <tbody role="rowgroup">
            <tr role="row" *ngFor="let ejemplo of ejemplos.reverse() | filter:term">
              <td role="cell">{{ejemplo.Estacion}}</td>
              <td role="cell">{{ejemplo.Fecha_Limpieza | date:'dd/mm/yyyy'}}</td>
              <td role="cell">{{ejemplo.LimpiezaPiso}}</td>
              <td role="cell">{{ejemplo.LimpiezaVidrio}}</td>
              <td role="cell">{{ejemplo.LimpiezaAreaServicios}}</td>
              <td role="cell">{{ejemplo.LimpiezaAreaEstructura}}</td>
              <td role="cell">{{ejemplo.LimpiezaTorniquetes}}</td>
              <td role="cell">{{ejemplo.LimpiezaSanitarios}}</td>
              <td role="cell">{{ejemplo.Observaciones}}</td>
            <!--<td role="cell">{{ejemplo.Usuario}}</td>-->
            </tr>
          </tbody>
        </table>
    </div>
  </form>

