<app-header-admin></app-header-admin>
<app-header-asignacion></app-header-asignacion><!--barra de navegacion-->

<div class="container">
    <h3>ASIGNACIÓN</h3>
    <div class="container">
        <hr>
        <div class="container text-center">
          <h4>SITMAH</h4>
        </div>
        <table role="table" class="table table-bordered table-fixed text-center">
            <thead role="rowgroup">
              <tr role="row">
                <th role="columnheader">Usuario</th>
                <th role="columnheader">Numero Radio</th>
                <th role="columnheader">Codigo Radio</th>
                <th role="columnheader">Tarjeta Maestra</th>
                <th role="columnheader"></th>
              </tr>
            </thead>
            <tbody role="rowgroup" *ngFor="let asignado of asignaciones">
              <tr role="row">
                <td role="cell">{{asignado.usuario}}</td>
                <td role="cell">{{asignado.Num_Radio}}</td>
                <td role="cell">{{asignado.Codigo_Radio}}</td>
                <td role="cell">{{asignado.Tarjeta_Maestra}}</td>
                <td role="cell">
                    <div class="d-grid d-md-block">
                        <!--<button class="btn btn-outline-dark" type="button" style="background-color: #D118BE;">
                            <i class="bi bi-pencil-square"></i>
                        </button>-->
                        <button  (click)="btnCancelarAsignacion(asignado.Id_asignacionRadio)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-dark" type="button" style="background-color: red;">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                      </div>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #myModal>
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ELIMINAR REGISTRO</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Estas a punto de eliminar la asignacion
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
                  <button type="button" class="btn btn-primary" (click)="btnAccept()" >ACEPTAR</button>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>
