<app-header-admin></app-header-admin>
<app-header-asignacion></app-header-asignacion>
<div class="container">
    <h3 class="texto">CREAR ASIGNACION</h3>
    <hr>
    <div class="container">
        <form class="row g-3">
            <div class="col-12">
                <div class="col-md-4">
                    <label for="validationDefault01" class="form-label">Ingresa el usuario</label>
                    <input type="text" class="form-control" id="validationDefault01" value="" required>
                  </div>
            </div>
            <div class="col-12">
                <div class="col-md-4">
                    <label for="validationDefaultUsername" class="form-label">Ingresa el número de la radio</label>
                      <input type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                  </div>
            </div>
            
            <div class="col-9" style="text-align: right;">
              <button class="btn btn-outline-secondary subir" type="submit">AGREGAR</button>
            </div>
          </form>
    </div>
</div>

