<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="#">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            DATOS
          </span>
        </div>
      </div>
    </nav>
  </header>
  
  <div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nombre del Ajustador </label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
  </div>

  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Fotos de los pases medicos</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>

  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">Fotos de orden de reparación</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>