<app-header-admin></app-header-admin>
<app-nav-bar-crear-usuarios></app-nav-bar-crear-usuarios>

<div class="container">
    <h3 class="texto">CREAR USUARIO</h3>
    <hr>
    <div class="container">
        <form (submit)="enviarUsuarios()">
          <div class="col-6">

            <div class="col-md-6">
              <label for="validationDefault01" class="form-label">Ingresa el nombre</label>
              <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
            </div>
            <div class="col-md-6">
              <label for="validationDefault01" class="form-label">Ingresa el apellido paterno</label>
              <input type="text" class="form-control" id="apellidoP" name="apellidoP" [(ngModel)]="apellidoP" required>
            </div>
            <div class="col-md-6">
              <label for="validationDefault01" class="form-label">Ingresa el apellido materno</label>
              <input type="text" class="form-control" id="apellidoM" name="apellidoM" [(ngModel)]="apellidoM" required>
            </div>
          </div>
          <div class="col-6"> <!--DIVIDE EL FORMULARIO-->
            <div class="col-md-6">
              <label for="validationDefault02" class="form-label">Ingresa el usuario</label>
              <input type="text" class="form-control" id="usuario" name="usuario" [(ngModel)]="usuario" required>
            </div>

              <div class="col-md-6">
                <label for="validationDefault02" class="form-label">Ingresa la contraseña</label>
                <input type="password" class="form-control" id="pass" name="pass" [(ngModel)]="pass" required>
              </div>
          </div>
        
              <div class="col-12" style="text-align: right;">
                <button class="btn btn-outline-secondary subir" type="submit">AGREGAR</button>
              </div>

          </form>
    </div>
</div>