<header style="background-color: #9C223C;">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid pading1">
      <a class="navbar-brand text1" href="http://sitmah.hidalgo.gob.mx/">SITMAH</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <span class="navbar-text text1">
          INCIDENCIAS TÉCNOLOGICAS
        </span>
      </div>
    </div>
  </nav>
</header>

<app-nav-bar></app-nav-bar>



<div class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <li class="item-5 deeper parent" style="list-style-type: none; width: 100px;text-align: center;"><!-- de esta forma le quitamos el puntito de li-->
        <button class="btn btn-outline-light text2" type="button">
        <a class="navbar-brand" href="menu/cronos" style="font-size: 40px; color: rgb(0, 0, 0);">
          <i class="bi bi-arrow-90deg-left"></i>
        </a>
        </button>
        </li>
      <a class="navbar-brand">INFORMES DE INCIDENCIAS TÉCNOLOGICAS DEL DIA</a>
      <li style="list-style-type: none; width: 100px;text-align: center;">
        <div class="container-fluid">
          <a class="navbar-brand" href="all/informes/tecnologicos">
            <i class="bi bi-card-text" style="font-size: 50px;"></i>
            TODOS
          </a>
        </div>
      </li>
      <div class=" d-flex">
        <input class="form-control" type="text" name="search" [(ngModel)]="term" autocomplete="on" placeholder=" Buscar Informe">
        <button (click)="exportTable()" class="btn" type="button" style="font-size: 25px; margin: 10px;">
          <i class="bi bi-download"></i>
        </button>
      </div>
    </div>
    </nav>
</div>

<div class="container">
  <div>
      <a href="create/informes/tecnologicos" class="btn-flotante" title="agrega incidencias">
        <i class="bi bi-plus" style="font-size: 40px;"></i>
      </a>
  </div>
  </div>

  <div class="container" id="content" #content>

    <!--<nav class="navbar bg-body-tertiary" style="background-color: #9C223C;;">
      <div class="container-fluid">
        <li style="list-style-type: none;">
          <p class="navbar-brand" style="font-size: 30px; text-align: center; color: white;">
            <img src="../../../../../../assets/Logo_S1TM4Hv2.png" width="240px" height="100px" class="d-inline-block align-text-top">
            INCIDENCIAS TECNOLOGICAS DE HOY
          </p>
        </li>
        <li style="list-style-type: none;">
          <img src="../../../../../../assets/logo_hidalgo_NEW_v1.png">
        </li>
      </div>
    </nav>-->

    <hr>
    <div class="container text-center">
      <h4>SITMAH</h4>
    </div>
    <table role="table" class="table table-dark table-fixed" id="tableToExport">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">FECHA_INCIDENCIA</th>
            <th role="columnheader">SERVICIO</th>
            <th role="columnheader">(ECO)</th>
            <th role="columnheader">EQUIPO AFECTADO</th>
            <th role="columnheader">ID EQUIPO AFECTADO</th>
            <th role="columnheader">FALLA</th>
            <th role="columnheader">HORA REGISTRO</th>
            <th role="columnheader">HORA CIERRE</th>
            <th role="columnheader">ACCION NO NECESARIA (SI/NO)</th>
            <th role="columnheader">INSPECTOR QUE REPORTA</th>
            <th role="columnheader">BEA MESA DE CONTROL (PERSONA QUE ATIENDE)</th>
            <!--<th role="columnheader">TITAN/ANALISTA QUE REPORTA</th>-->
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row" *ngFor="let Incidencia of InformeIncidenciasTec | filter:term">
            <td role="cell">{{Incidencia.Fecha_incidencia | date:'dd/MM/yyyy'}}</td>
            <td role="cell">{{Incidencia.Servicio }}</td>
            <td role="cell">{{Incidencia.VehiculoECO}}</td>
            <td role="cell">{{Incidencia.Equipo_afectado}}</td>
            <td role="cell">{{Incidencia.Id_equipo_afectado}}</td>
            <td role="cell">{{Incidencia.Falla }}</td>
            <td role="cell"></td>
            <td role="cell"></td>
            <td role="cell"></td>
            <td role="cell">{{Incidencia.usuario}}</td>
            <td role="cell"></td>
          </tr>
        </tbody>
      </table>
  </div>

