<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="#">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            INCIDENCIAS TÉCNOLOGICAS
          </span>
        </div>
      </div>
    </nav>
  </header>

  <app-nav-bar></app-nav-bar>

  <div class="container">
    <div class="row">
      <div class="col-md-7"> <span>INFORME DE INCIDENCIAS DEL DIA DE HOY</span></div>
      <div class="col-md-3" style="text-align: right;">
        <span class=".selector">FECHA: 00/00/00</span>
      </div>
      <div class="col-md-2" style="text-align: left;">
        <i class="bi bi-download"></i>
      </div>
    </div>
  </div>


  <div class="">

    <div class="container">
      <hr>
      <div class="container text-center">
        <h4>SITMAH</h4>
      </div>
      <table role="table" class="table table-bordered table-fixed">
          <thead role="rowgroup">
            <tr role="row">
              <th role="columnheader">TITAN/ANALISTA QUE REPORTA</th>
              <th role="columnheader">HORA REGISTRO</th>
              <th role="columnheader">SERVICIO</th>
              <th role="columnheader">VEHICULO(ECO)</th>
              <th role="columnheader">EQUIPO AFECTADO</th>
              <th role="columnheader">FALLA</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            <tr role="row">
              <td role="cell">James</td>
              <td role="cell">13:25</td>
              <td role="cell">Bicentenario</td>
              <td role="cell">N/A</td>
              <td role="cell">PANTALLA</td>
              <td role="cell">NO ENCIENDE</td>
            </tr>
            <tr role="row">
              <td role="cell">James</td>
              <td role="cell">13:25</td>
              <td role="cell">Bicentenario</td>
              <td role="cell">N/A</td>
              <td role="cell">PANTALLA</td>
              <td role="cell">NO ENCIENDE</td>
            </tr>
            <tr role="row">
              <td role="cell">James</td>
              <td role="cell">13:25</td>
              <td role="cell">Bicentenario</td>
              <td role="cell">N/A</td>
              <td role="cell">PANTALLA</td>
              <td role="cell">NO ENCIENDE</td>
            </tr>
            <tr role="row">
              <td role="cell">James</td>
              <td role="cell">13:25</td>
              <td role="cell">Bicentenario</td>
              <td role="cell">N/A</td>
              <td role="cell">PANTALLA</td>
              <td role="cell">NO ENCIENDE</td>
            </tr>
            <tr role="row">
              <td role="cell">James</td>
              <td role="cell">13:25</td>
              <td role="cell">Bicentenario</td>
              <td role="cell">N/A</td>
              <td role="cell">PANTALLA</td>
              <td role="cell">NO ENCIENDE</td>
            </tr>
         
          </tbody>
        </table>
  
  
    </div>
    
  </div>

  <div class="container">
    <div>
        <a href="" class="btn-flotante">
            <Span>AGREGAR UNA INCIDENCIA</Span>
        </a>
    </div>

</div>
  
