<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="http://sitmah.hidalgo.gob.mx/">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            REGISTROS VEHICULAR
          </span>
        </div>
      </div>
    </nav>
  </header>

  <app-nav-bar> </app-nav-bar> 
  
  <div class="container">
    <nav>
      <div>
        <li class="item-5 deeper parent" style="list-style-type: none; width: 60px;"><!-- de esta forma le quitamos el puntito de li-->
          <button class="btn btn-outline-light" type="button">
          <a class="navbar-brand" href="menu/cronos" style="font-size: 40px; color: rgb(0, 0, 0);">
            <i class="bi bi-arrow-90deg-left"></i>
          </a>
          </button>
          </li>
      </div>
        
    </nav><!--- MANDAMOS A LLAMAR-->
    <div class="d-flex">
      <div class="col-7" style="text-align: center; justify-content: center;">
      <h2>Informe de solicitud de prestamo de vehiculo</h2>
      </div>
      <div class="col-3">
        <input class="form-control" type="text" name="search" [(ngModel)]="term" autocomplete="on" placeholder=" Buscar Nombre">
      </div>
      <div class="col-2" style="text-align: end; font-size: 40px;">
        <BUtton (click)="downloadPDF()" type="button" class="btn btn-outline-dark">
          <i class="bi bi-download"></i>
        </BUtton>
      </div>
    </div>
    <hr>
    <div class="container text-center">
      <h4>SITMAH</h4>
    </div>
    <table role="table" class="table table-bordered table-fixed" id="content" #content>
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">FECHA</th>
            <th role="columnheader">NOMBRE SOLICITNTE</th>
            <th role="columnheader">MARCA VEHICULO</th>
            <th role="columnheader">SUBMARCA VEHICULO</th>
            <th role="columnheader">PLACA VEHICULO</th>
            <th role="columnheader">TIEMPO</th>
            <th role="columnheader">AREA SOLICITANTE</th>
            <th role="columnheader">ACTIVIDADES A REALIZAR</th>
            <th role="columnheader">REGISTRO DE KILOMETRAJE</th>
          </tr>
        </thead>
        <tbody role="rowgroup" *ngFor="let registro of RegistroVehicular">
          <tr role="row">
            <td role="cell">{{registro.Fecha | date:'dd/MM/yyyy'}}</td>
            <td role="cell">{{registro.Nombre_solicitante }}</td>
            <td role="cell">{{registro.Marca_vehiculo  }}</td>
            <td role="cell">{{registro.Submarca  }}</td>
            <td role="cell">{{registro.Placa  }}</td>
            <td role="cell">{{registro.Tiempo  }}</td>
            <td role="cell">{{registro.Area_solicitante  }}</td>
            <td role="cell">{{registro.Actividades_a_realizar  }}</td>
            <td role="cell">{{registro.Registro_de_kilometraje  }}</td>
          </tr>
        </tbody>
      </table>
  </div>