<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="http://sitmah.hidalgo.gob.mx/">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            REGISTROS VEHICULAR
          </span>
        </div>
      </div>
    </nav>
  </header>

  <app-nav-bar> </app-nav-bar> <!--- MANDAMOS A LLAMAR EL NAV-BAR DONDE SE ENCUENTRA EL BOTON PARA IR AL MENU DE CRONOS/TITANES-->

  <div class="container">
    <div class="d-flex">
      <div class="col-10" style="text-align: center; justify-content: center;">
      <h2>Informe de solicitud de prestamo de vehiculo</h2>
      </div>
      <div class="col-2" style="text-align: end; font-size: 40px;">
        <i class="bi bi-download"></i>
      </div>
    </div>
    <hr>
    <div class="container text-center">
      <h4>SITMAH</h4>
    </div>
    <table role="table" class="table table-bordered table-fixed">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">FECHA</th>
            <th role="columnheader">NOMBRE SOLICITNTE</th>
            <th role="columnheader">MARCA VEHICULO</th>
            <th role="columnheader">SUBMARCA VEHICULO</th>
            <th role="columnheader">PLACA VEHICULO</th>
            <th role="columnheader">TIEMPO</th>
            <th role="columnheader">AREA SOLICITANTE</th>
            <th role="columnheader">ACTIVIDADES A REALIZAR</th>
            <th role="columnheader">REGISTRO DE KILOMETRAJE</th>
          </tr>
        </thead>
        <tbody role="rowgroup" *ngFor="let registro of RegistroVehicular.reverse()">
          <tr role="row">
            <td role="cell">{{registro.Fecha | date:'dd/mm/yyyy'}}</td>
            <td role="cell">{{registro.Nombre_solicitante }}</td>
            <td role="cell">{{registro.Marca_vehiculo  }}</td>
            <td role="cell">{{registro.Submarca  }}</td>
            <td role="cell">{{registro.Placa  }}</td>
            <td role="cell">{{registro.Tiempo  }}</td>
            <td role="cell">{{registro.Area_solicitante  }}</td>
            <td role="cell">{{registro.Actividades_a_realizar  }}</td>
            <td role="cell">{{registro.Registro_de_kilometraje  }}</td>
          </tr>
        </tbody>
      </table>
  </div>