<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="http://sitmah.hidalgo.gob.mx/">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            REGISTROS VEHICULAR
          </span>
        </div>
      </div>
    </nav>
  </header>

  <app-nav-bar> </app-nav-bar> <!--- MANDAMOS A LLAMAR EL NAV-BAR DONDE SE ENCUENTRA EL BOTON PARA IR AL MENU DE CRONOS/TITANES-->

  <div class="container">
    <div class="d-flex">
      <div class="col-10" style="text-align: center; justify-content: center;">
      <h2>Informe de solicitud de prestamo de vehiculo</h2>
      </div>
      <div class="col-2" style="text-align: end; font-size: 40px;">
        <i class="bi bi-download"></i>
      </div>
    </div>
    <hr>
    <div class="container text-center">
      <h4>SITMAH</h4>
    </div>
    <table role="table" class="table table-bordered table-fixed">
        <thead role="rowgroup">
          <tr role="row">
            <th role="columnheader">Fecha</th>
            <th role="columnheader">Nombre solicitante</th>
            <th role="columnheader">Marca Vehiculo</th>
            <th role="columnheader">Submarca Vehiculo</th>
            <th role="columnheader">Placa Vehiculo</th>
            <th role="columnheader">Tiempo</th>
            <th role="columnheader">Área solicitante</th>
            <th role="columnheader">Actividades a realizar</th>
            <th role="columnheader">Registro de kilometraje</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>

          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>

          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
          <tr role="row">
            <td role="cell">01/03/23</td>
            <td role="cell">aldo william hdz m</td>
            <td role="cell">gtr</td>
            <td role="cell">nissan</td>
            <td role="cell">8273633</td>
            <td role="cell">10 horas</td>
            <td role="cell">direccion de planeacion y desarrollo</td>
            <td role="cell">ir con las cariñosas</td>
            <td role="cell">50km</td>
          </tr>
        </tbody>
      </table>
  </div>