
<app-header></app-header>
<app-nav-bar-limpieza></app-nav-bar-limpieza>

<div class="container">
  <nav class="navbar navbar-light">
    <div class="container-fluid" >
      <a class="navbar-brand">INFORMES DE LIMPIEZA DEL
        <select class="form-select" aria-label="Default select example" style="border: none; box-shadow: none;">
          <option selected>DIA</option>
          <option value="1">LUNES</option>
          <option value="2">MARTES</option>
          <option value="3">MIERCOLES</option>
          <option value="3">JUEVES</option>
          <option value="3">VIERNES</option>
          <option value="3">SABADO</option>
          <option value="3">DOMINGO</option>
        </select>
    </a>
      <div class=" d-flex">
        <select class="form-select" aria-label="Default select example" style="border: none; box-shadow: none;">
          <option selected>ESTACIONES</option>
          <option value="1">One</option>
          <option value="2">tecnologico de monterrey</option>
          <option value="3">Three</option>
        </select>
        
        <button class="btn" type="submit" style="font-size: 25px; margin: 10px;">
          <i class="bi bi-download"></i>
        </button>
      </div>
    </div>
    <div class="container">
      <span>NOMBRE TITAN</span>
    </div>

    <div class="container justify-content-center" >
      <hr>
      <table role="table" class="table table-bordered table-fixed">
          <thead role="rowgroup">
            <tr role="row">
              <th role="columnheader">AREA DE LIMPIEZA</th>
              <th role="columnheader">SI/NO</th>
              <th role="columnheader">OBSERVACIONES</th>
            </tr>
          </thead>
          <tbody role="rowgroup">
            <tr role="row" *ngFor="let InformeLimpieza of InformeLimpiezas">
              <td role="cell">Limpieza de piso</td>
              <td role="cell">{{InformeLimpieza.LimpiezaPiso}}</td>
              <td role="cell">{{InformeLimpieza.Observaciones}}</td>
            </tr>
            <tr role="row" *ngFor="let InformeLimpieza of InformeLimpiezas">
              <td role="cell">Limpieza de vidrio</td>
              <td role="cell">{{InformeLimpieza.Limpiezavidrio}}</td>
              <td role="cell">NO</td>
            </tr>
            <tr role="row">
              <td role="cell">Limpieza de area de servicio</td>
              <td role="cell">SI</td>
              <td role="cell">NO</td>
            </tr>
            <tr role="row">
              <td role="cell">Limpieza de estructura</td>
              <td role="cell">SI</td>
              <td role="cell">NO</td>
            </tr>
            <tr role="row">
              <td role="cell">Limpieza de torniquete en 
                espacios de venta y recarga
                de tarjeta.</td>
              <td role="cell">SI</td>
              <td role="cell">NO</td>
            </tr>
            <tr role="row">
              <td role="cell">Limpieza de sanitarios</td>
              <td role="cell">SI</td>
              <td role="cell">NO</td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>

  
