<!-- INFORME DE INCIDENCIAS B8-->

<div  class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="incidencias_inicio">SALIR</a>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <!-- boton para descargar el archivo-->
            <button type="button" class="btn btn-outline" style="font-size: 30px;">
                <i class="bi bi-download"></i>
            </button>
          </div>
        </div>
      </nav>
</div>

<div class="container">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">INFORME DE PERCANCE B8</h5>
        <h5>FECHA</h5>
      </div>
      <h5 style="text-align: right;">HORA</h5>
      <hr> <!-- contiene los datos del vehiculo SITMAH -->
    <div class="container" id="vehiculo_sitmah">
        <h4>VEHICULO SITMAH</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">ECO</th>
                    <th scope="col">TIPO DE UNIDAD</th>
                    <th scope="col">ID_TARJETON</th>
                    <th scope="col">CONDUCTOR</th>
                    <th scope="col">SERVICIO RUTA</th>
                    <th scope="col">UBICACIÓN</th>
                  </tr>     
                </thead>
                <tbody>
                  <tr>
                    <td>202</td>
                    <td>T-01</td>
                    <td>101</td>
                    <td>MAX VERSTAPEN</td>
                    <td>EXPRES</td>
                    <td>BICENTENARIO</td>
                  </tr>
                </tbody>
              </table>
    </div>
    <!-- contiene los datos del vehiculo particular -->
    <hr>
    <div id="vehiculo_particular">
        <h4>VEHICULO PARTICULAR</h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                  <tr>
                    <th scope="col">MARCA</th>
                    <th scope="col">MODELO</th>
                    <th scope="col">COLOR</th>
                    <th scope="col">PLACA</th>
                  </tr>     
                </thead>
                <tbody>
                  <tr>
                    <td>AUDI</td>
                    <td>2024</td>
                    <td>NEGRO</td>
                    <td>19387</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th scope="col">RELATO DE LOS ECHOS</th>
                </tr>     
              </thead>
              <tbody>
                <tr>
                  <td>Audi choco contra gran viale por que se paso un semaforo</td>
                </tr>
              </tbody>
        </table>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
          <thead>
              <tr>
                <th scope="col">FOTOS</th>
              </tr>     
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="..." class="img-thumbnail" alt="...">
                  <img src="..." class="img-thumbnail" alt="...">
                  <img src="..." class="img-thumbnail" alt="...">
                </td>
              </tr>
            </tbody>
      </table>
  </div>
</div>

    

  
