<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="#">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            PRESTAMO VEHICULAR
          </span>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <li class="item-5 deeper parent" style="list-style-type: none; width: 100px;text-align: center;"><!-- de esta forma le quitamos el puntito de li-->
      <button class="btn btn-outline-light text2" type="button">
      <a class="navbar-brand" href="inicio_titanes" style="font-size: 40px; color: rgb(0, 0, 0);">
        <i class="bi bi-arrow-90deg-left"></i>
      </a>
      </button>
      </li>
  </div>

  <form (submit)="enviarInformeLimpieza()" style="margin: 20px;">
    <div class="well well-sm"> 

    <p class="fw-normal">
      <legend class="text-center header fw-bold">Prestamo Vehicular</legend>
    </p> 

    <div class="container">
    <div class="row">
        <div class="col-md-12">
          <div class="col-12">
            <div class="col-12">
              <label for="validationDefault03" class="form-label">Nombre del solicitante</label>
              <input class="form-control" list="datalistOptions" [(ngModel)]="Nombre_solicitante" name="Nombre_solicitante">
            </div>
        <div class="col-12">
              <label for="validationDefault03" class="form-label" >Marca del vehiculo</label>
              <input type="text" class="form-control" [(ngModel)]="Marca_vehiculo" name="Marca_vehiculo">
        </div>
      </div>
      
        <hr style="border: 2px solid transparent;">
      
        <div class="col-12">
            <div class="col-12">
              <label for="validationDefault03" class="form-label">Submarca del vehiculo</label>
          <input class="form-control" list="datalistOptions" [(ngModel)]="Submarca" name="Submarca">
            </div>
            <div class="col-12">
              <label for="validationDefault03" class="form-label">Placas</label>
              <input type="text" class="form-control" [(ngModel)]="Placa" name="Placa">
            </div>
          </div>
      
                     
      
      <hr style="border: 2px solid transparent;">
      
      <div class="col-12">
      <div class="col-12">
      <label for="validationDefault03" class="form-label">Tiempo</label>
      <input class="form-control" list="datalistOptions" [(ngModel)]="Tiempo" name="Tiempo">
      </div>
      <div class="col-12">
      <label for="validationDefault03" class="form-label">Área solicitante</label>
      <input type="text" class="form-control" [(ngModel)]="Area_solicitante" name="Area_solicitante">
      </div>
      </div>
      
      <hr style="border: 2px solid transparent;">
      
      <div class="col-12">
      <div class="col-12">
      <label for="validationDefault03" class="form-label">Actividades a realizar</label>
      <input class="form-control" list="datalistOptions" [(ngModel)]="Actividades_a_realizar" name="Actividades_a_realizar">
      </div>
      <div class="col-12">
      <label for="validationDefault03" class="form-label">Registro de kilometraje</label>
      <input type="text" class="form-control" [(ngModel)]="Registro_de_kilometraje" name="Registro_de_kilometraje">
      </div>
      </div>
      
      <hr style="border: 2px solid transparent;">
      
      <div class="modal-footer" style="text-align: center;">
      <button type="submit"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btng">Guardar</button>
      </div>

      </div>

        </div>

      </div>

    </div>

  </form>
