
<div class="container" style="background-color: rgb(255, 255, 255);">
  <nav class="navbar navbar-light">
    <div class="navbar navbar-light justify-content-center">
      <li class="item-5 deeper parent" style="list-style-type: none; width: 100px;"><!-- de esta forma le quitamos el puntito de li-->
        <button class="btn btn-outline-light text2" type="button">
        <a class="navbar-brand" href="menu/cronos" style="font-size: 40px; color: rgb(0, 0, 0);">
          <i class="bi bi-arrow-90deg-left"></i>
        </a>
        </button>
        </li>
        <li style="list-style-type: none; width: 100px;text-align: center;">
          <div class="container-fluid">
            <a class="navbar-brand" href="ver/todos-los-acciedntes">
              <i class="bi bi-card-text" style="font-size: 50px;"></i>
              TODOS LOS ACCIDENTES
            </a>
          </div>
        </li>
    </div> 
  </nav>
  
  <div class="card" *ngFor="let accidente of accidentes" style="margin: 20px; border-radius: 5px;">
    <div id="content" #content>
      <hr>
      <div class="container">
        <div class="container stack">
          <nav class="navbar navbar-light" >
            <div class="container-fluid">
              <li style="list-style-type: none;">
                  <img src="../../../../../../assets/Logo_S1TM4Hv2.png" width="240px" height="100px" class="d-inline-block align-text-top">
              </li>
              <li style="list-style-type: none;">
                <a class="navbar-brand">
                  <p class="titulo_A">ACCIDENTE_AUTOMOVILISTICO_EN</p>
                </a>
                <div class=" d-flex">
                  <div class="form-group" style="margin: 20px;">
                    <span style="font-size: 23px;">{{accidente.Ubicacion}}</span>
                  </div>
                  <div class="form-group" style="margin: 20px;">
                    <span style="font-size: 23px;">{{accidente.TipoUnidad}}</span>
                  </div>
                  <div class="form-group" style="margin: 20px;">
                    <span style="font-size: 23px;">{{accidente.Fecha_Percance | date:'dd/MM/yyyy'}}</span>
                  </div>
                </div>
              </li>
              <li style="list-style-type: none;">
                <img src="../../../../../../assets/logo_hidalgo_NEW_v1.png">
              </li>
              <button (click)="downloadPDF()" class="btn" type="button" style="font-size: 25px; margin: 10px;">
                <i class="bi bi-download" style="color: white;"></i>
              </button>
            </div>
          </nav>
        </div>
  
          <hr> <!-- contiene los datos del vehiculo SITMAH -->
        <div class="container" id="vehiculo_sitmah">
            <h4>VEHICULO_SITMAH</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-fixed">
                    <thead>
                      <tr>
                        <th scope="col">FECHA</th>
                        <th scope="col">TIPO_DE_UNIDAD</th>
                        <th scope="col">NoEconomico</th>
                        <th scope="col">SERVICIO_RUTA</th>
                        <th scope="col">CONDUCTOR</th>
                        <th scope="col">ID_TARJETON</th>
                        <th scope="col">UBICACIÓN</th>
                        <th scope="col">SENTIDO</th>
                      </tr>     
                    </thead>
                    <tbody>
                      <tr role="row">
                        <td role="cell">{{accidente.Fecha_Percance | date:'dd/MM/yyyy'}}</td>
                        <td role="cell">{{accidente.TipoUnidad}}</td>
                        <td role="cell">{{accidente.NoEconomico  }}</td>
                        <td role="cell">{{accidente.ServicioRuta}}</td>
                        <td role="cell">{{accidente.Conductor}}</td>
                        <td role="cell">{{accidente.Credencial}}</td>           
                        <td role="cell">{{accidente.Ubicacion}}</td>
                        <td role="cell">{{accidente.Sentido}}</td>
                      </tr>
                    </tbody>
                  </table>
        </div>
        <!-- contiene los datos del vehiculo particular -->
        <hr>
        <div id="vehiculo_particular">
            <h4>VEHICULO_PARTICULAR</h4>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">MARCA</th>
                        <th scope="col">SUBMARCA</th>
                        <th scope="col">COLOR</th>
                        <th scope="col">PLACA</th>
                        <th scope="col">AÑO</th>
                      </tr>     
                    </thead>
                    <tbody>
                      <tr>
                        <td role="cell">{{accidente.Marca}}</td>
                        <td role="cell">{{accidente.Submarca}}</td>
                        <td role="cell">{{accidente.Color}}</td>
                        <td role="cell">{{accidente.Placas}}</td>
                        <td role="cell">{{accidente.Anio}}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                      <th scope="col">RELATO_DE_LOS_HECHOS</th>
                    </tr>     
                  </thead>
                  <tbody>
                    <tr>
                      <td role="cell">{{accidente.Descripcion}}</td>
                    </tr>
                  </tbody>
            </table>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered">
              <thead> 
                        <th scope="col">LESIONADOS</th>
                        <th scope="col">NOMBRES</th>
                        <th scope="col">AMBULANCIA</th>
                        <th scope="col">SEGURIDAD_PUBLICA</th>
                        <th scope="col">PATRULLA</th>
                        <th scope="col">OFICIAL_A_CARGO</th>
                        <th scope="col">SEGURO</th>
                        <th scope="col">AJUSTADOR</th> 
              </thead>
              <tbody>
                <tr role="row">
                  <td role="cell">{{accidente.Lesionados}}</td>
                  <td role="cell">{{accidente.Nombres}}</td>
                  <td role="cell">{{accidente.Ambulancia}}</td>
                  <td role="cell">{{accidente.SeguridaPublica}}</td>
                  <td role="cell">{{accidente.PatrullaNumero  }}</td>
                  <td role="cell">{{accidente.OficialAcargo}}</td>           
                  <td role="cell">{{accidente.Seguro}}</td>
                  <td role="cell">{{accidente.Supervisor}}</td>
                </tr>
              </tbody>
            </table>
  </div>
    </div>
    </div>
    </div>
  
    <div>
    </div>
  
  </div>
  </div>
  