.card_inc {
	border-radius: 20px; /* Borde del boton */
	background-color: white; /* Color de fondo */
	padding:20px; /* Relleno del boton */

}
.card_inc:hover {
	background-color: #ff0062; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 1);
    border-radius: 50px;
	transform: translateY(-7px);
}

.card_view{
    color: #000000; /* Color del texto */
    font-size: 16px; /* Cambiar el tamaño de la tipografia */
    border-radius: 20px; /* Borde del boton */
}

.stack{
	border-radius: 50px;
	background-color: #9C223C;
	font-size: medium;
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
}

.titulo_A{
	font-size: x-large;
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
}

#content{
    width: auto;
    height:auto;
  }