<div class="container">
   <div class="card card_view">
    <div class="card_inc container">
        <a href="incidencias-b8" class="card_view" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">INCIDENCIA 1</h5>
            <h5>Hora</h5>
          </div>
        </a>
      </div>
   </div>
</div>

<div class="container">
    <div class="card card_view">
     <div class="card_inc container">
         <a href="incidencias-b8" class="card_view" aria-current="true">
           <div class="d-flex w-100 justify-content-between">
             <h5 class="mb-1">INCIDENCIA 2</h5>
             <h5>Hora</h5>
           </div>
         </a>
       </div>
    </div>
 </div>
 
