<app-header-admin></app-header-admin>
<app-nav-bar-crear-usuarios></app-nav-bar-crear-usuarios>

<div class="container">
    <h3 class="texto">CREAR USUARIO</h3>
    <hr>
    <div class="container">
        <form class="row g-3">
          <div class="col-6">

            <div class="col-md-6">
              <label for="validationDefault01" class="form-label">Ingresa el nombre</label>
              <input type="text" class="form-control" id="validationDefault01" value="" required>
            </div>
            <div class="col-md-6">
              <label for="validationDefault01" class="form-label">Ingresa el apellido paterno</label>
              <input type="text" class="form-control" id="validationDefault01" value="" required>
            </div>
            <div class="col-md-6">
              <label for="validationDefault01" class="form-label">Ingresa el apellido materno</label>
              <input type="text" class="form-control" id="validationDefault01" value="" required>
            </div>
          </div>

          <div class="col-6"> <!--DIVIDE EL FORMULARIO-->
            <div class="col-md-6">
              <label for="validationDefault02" class="form-label">Ingresa el usuario</label>
              <input type="text" class="form-control" id="validationDefault02" value="" required>
            </div>

              <div class="col-md-6">
                <label for="validationDefault02" class="form-label">Ingresa la contraseña</label>
                <input type="password" class="form-control" id="validationDefault02" value="" required>
              </div>
              <div class="col-md-7">
                <label for="validationDefault04" class="form-label">ROL</label>
                <select class="form-select" id="validationDefault04" required>
                  <option selected disabled value="">Choose...</option>
                  <option>TITAN</option>
                  <option>CRONOS</option>
                </select>
              </div>
          </div>
        
              <div class="col-12" style="text-align: right;">
                <button class="btn btn-outline-secondary subir" type="submit">AGREGAR</button>
              </div>

          </form>
    </div>
</div>