<div style="background-color: #9c223c; height:100vh; width:auto;">
<div class="container">
  <div class="card ">
    <div class="card-header">
      Unidades
    </div>
    <div class="card-body text-center" >
      <h5 class="card-title">Agregar Imagen</h5>
      <p class="card-text"><select [(ngModel)]="opcionSeleccionado" (change)="capturar()">
        <option value="0">Selecciona una opción</option>
        <option *ngFor="let data of cargarUnidades" >{{data.tipoUnidad}}</option>
      </select></p>
      <p class="card-text"><input type="file" (change)="onFileSelected($event)" class="col-12"/></p>
      <button (click)="onSendImage()">enviar</button>
    </div>
  </div>
  </div>
</div>
