<div style="background-color: #9c223c; height:150vh; width:auto;">
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{icongif}}" style="width: 100px;" alt="logo">
      </a>
      <a class="navbar-brand" href="#">HORARIOS DE SERVICIO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
        aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <button class="btn btn-outline-success" aria-current="page" (click)="goApertura()"><i
                  class="bi bi-building-fill-add"></i> Apertura de Servicios</button>
            </li>
            <br>
            <li class="nav-item">
              <button class="btn btn-outline-success" aria-current="page" (click)="goServiciosIniciados()"><i
                  class="bi bi-play-fill"></i> Servicio Iniciado</button>
            </li>
            <br>
            <li class="nav-item">
              <button class="btn btn-outline-danger" aria-current="page" (click)="goCerrar()"><i
                  class="bi bi-box-arrow-left"></i> Cerrrar Sesion</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container ">
    <form>
      <div class="row">
        <div class="col">
          <label for="">Ruta
          <input type="text" class="form-control" placeholder="Introduce la Ruta" [(ngModel)]="ruta" id="ruta" name="ruta">
        </label>
        </div>
        <div class="col">
          <label for="">Intervalo
          <input type="text" class="form-control" placeholder="Introduce el Intervalo" [(ngModel)]="intervalo" name="intervalo">
        </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Corrida Inicial
          <input type="text" class="form-control" placeholder="Introduce la primera corrida de patio Tellez" [(ngModel)]="corridaInicial" name="corridaInicial">
        </label>
        </div>
        <div class="col">
          <label for="">Corrida Final
          <input type="text" class="form-control" placeholder="Introduce la ultima corrida" [(ngModel)]="corridaFinal" name="corridaFinal">
        </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Salida Inicial
          <input type="time" class="form-control" placeholder="Introduce Salida de la primera Corrida" [(ngModel)]="primeraSalida" name="corridaInicial">
        </label>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="">Del:
          <input type="date" class="form-control" [(ngModel)]="fechaInicio" name="fechaInicial" >
        </label>
        </div>
        <div class="col">
          <label for="">Al:
          <input type="date" class="form-control" placeholder="Introduce la Vigencia" [(ngModel)]="fechaFinal" name="fechaFinal">
        </label>
        </div>
      </div>
      <div class="row">
      <br>
    <br>
    <p align="right">
      <button type="button" class="btn btn-success col-2"
        style="background-color: rgb(73, 167, 167); height: 40px;" (click)="sendHorarios()">SUBIR</button>
    </p>
    <br>
  </div>
    </form>
    <div class="input-group">
      <div class="input-group-prepend">
      </div>
      <input type="text" class="form-control" [(ngModel)]="filtro" placeholder="Ruta">
      <input type="text" class="form-control" [(ngModel)]="filtro2" placeholder="fecha yyyy-mm-dd">
    </div>
    <br>
    <div class="row ex1">
      <table class="table table-dark border">
        <thead>
          <tr>
            <th scope="col">Ruta</th>
            <th scope="col">FECHA</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of horarioToday | filter:filtro | filter:filtro2">
            <td>{{data.ruta}}</td>
            <td>{{data.fecha | date:'dd/MM/yyyy'}}</td>
            <td>
              <button type="button" class="btn btn-outline-warning" (click)="goButtonEditarTable()"><i
                class="bi bi-pencil-square"></i></button>&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
              (click)="btnDeleteHorario(data.fecha,data.ruta)"><i class="bi bi-trash3-fill"></i></button>
            </td>
          </tr>

        </tbody>
      </table>

  </div>
    <div class="text-center">
      <img src="https://i.ibb.co/WkMWkrt/image.png " style="width: 700px;">
    </div>
  </div>
</div>
<img *ngIf="mostrarImagen" src="{{loading}}" id="imagen-superior">
<img *ngIf="mostrarImagen" src="{{loading}}" id="imagen-superior">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #myModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">CANCELAR LIBERACION</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Estas a punto de cancelar la liberacion
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CERRAR</button>
        <button type="button" class="btn btn-primary" (click)="btnConfirmDeleteHorario()" data-bs-dismiss="modal">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>
