<app-header-admin></app-header-admin>
<app-nav-bar-crear-usuarios></app-nav-bar-crear-usuarios>
<div class="container">
    <h3>REGISTRO</h3>
    <div class="container">
        <hr>
        <div class="container text-center">
          <h4>SITMAH</h4>
        </div>
        <table role="table" class="table table-bordered table-fixed text-center">
            <thead role="rowgroup">
              <tr role="row">
                <th role="columnheader">Nombre</th>
                <th role="columnheader">Apellido paterno</th>
                <th role="columnheader">Apellido materno</th>
                <th role="columnheader">usuario</th>
                <th role="columnheader">password</th>
                <th role="columnheader"></th>
              </tr>
            </thead>
            <tbody role="rowgroup">
              <tr role="row" *ngFor="let Usuario of Usuarios"><!--Mandamos a llamar los datos que necesitamos-->
                <td role="cell">{{Usuario.nombre}}</td>
                <td role="cell">{{Usuario.apellidoP}}</td>
                <td role="cell">{{Usuario.apellidoM}}</td>
                <td role="cell">{{Usuario.usuario}}</td>
                <td role="cell">{{Usuario.password}}</td>
                <td role="cell">
                    <div class="d-grid d-md-block">
                        <button class="btn btn-outline-dark" type="button" style="background-color: #D118BE;">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                        <button class="btn btn-outline-dark" type="button" style="background-color: red;">
                            <i class="bi bi-trash3-fill"></i>
                        </button>
                      </div>
                </td>
              </tr>
            </tbody>
          </table>
      </div>
</div>