.text2{
    color: #707070;
    font-size: 20px;
    width: 100%;
  margin-right: auto;
  margin-left: auto;
}


.side_nav{
    background:black;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background-color: #707070;
}

.sidebar li.active{
    background: #707070;
    border-radius:8px;
}

.tamano{
	width: 500px;;
}