<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="#">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            PERCANCES
          </span>
        </div>
      </div>
    </nav>
  </header>
<!--boton de regresar-->
    <a href="titanes-menu">
      <button type="button" class="btn-regresar"><i class="bi bi-arrow-left" style="font-size: 30px;"></i>
      </button>
    </a>
  <body>
<!--titulo-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form (submit)="enviarInformeAccidente()" class="form-horizontal" method="post">
                    <fieldset>
                        <p class="fw-normal">
                            <legend class="text-center header fw-bold">Informe del accidente</legend>
                        </p>             

                        <hr style="border: 2px solid transparent;">

                        <div class="col-12">
                          <div class="col-12">
                            <label for="validationDefault03" class="form-label">Num.Vehiculo (ECO)</label>
                        <input class="form-control" list="datalistOptions"  placeholder="" [(ngModel)]="VehiculoECO" name="VehiculoECO" required>
              
                          </div>
                          <div class="col-12">
                            <label for="validationDefault03" class="form-label">Tipo de unidad</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Apellido" [(ngModel)]="TipoUnidad" name="TipoUnidad" required>
                          </div>
                        </div>
                        <hr style="border: 2px solid transparent;">

                        <div class="col-12">
                          <div class="col-12">
                            <label for="validationDefault03" class="form-label">ID_tarjeton</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Nombre" [(ngModel)]="Tarjeton" name="Tarjeton" required>
                          </div>
                          <div class="col-12">
                            <label for="validationDefault03" class="form-label">Conductor</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Apellido" [(ngModel)]="Conductor" name="Conductor" required>
                          </div>
                        </div>

                        <hr style="border: 2px solid transparent;">


                        <div class="col-12">
                          <div class="col-12">
                            <label for="validationDefault03" class="form-label">Servicio/ruta</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Nombre" [(ngModel)]="ServicioRuta" name="ServicioRuta" required>
                          </div>
                          <div class="col-12">
                            <label for="validationDefault03" class="form-label">Ubicación</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Apellido" [(ngModel)]="Ubicacion" name="Ubicacion" required>
                          </div>
                        </div>

                          <hr style="border: 2px solid transparent;">

                          <p class="text-decoration-underline fw-bold text-center" >DATOS DEL VEHICULO PARTICULAR</p>

                          <div class="col-12">
                            <div class="col-12">
                              <label for="validationDefault03" class="form-label">Marca</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Nombre" [(ngModel)]="Marca" name="Marca" required>
                            </div>
                            <div class="col-12">
                              <label for="validationDefault03" class="form-label">Modelo</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Apellido" [(ngModel)]="Modelo" name="Modelo" required>
                            </div>
                          </div>

                          <hr style="border: 1px solid transparent;">

                          <div class="col-12">
                            <div class="col-12">
                              <label for="validationDefault03" class="form-label">Color</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Nombre" [(ngModel)]="Color" name="Color" required>
                            </div>
                            <div class="col-12">
                              <label for="validationDefault03" class="form-label">Placas</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Apellido" [(ngModel)]="Placas" name="Placas" required>
                            </div>
                          </div>

                          <hr style="border: 2px solid transparent;">

                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Relato de los hechos</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="RelatoEcho" name="RelatoEcho" required></textarea>
                          </div>

                          <hr style="border: 2px solid transparent;">

                          <p class="text-decoration-underline fw-bold text-center" >FOTOS DEL PERCANCE</p>

                          <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Fotos del ECO</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Fotos del carro particular</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                                
                          <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Fotos del tarjetón</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                                
                                
                          <hr style="border: 1px solid transparent;">

                          <div class="modal-footer">
                            <button type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btng">Guardar</button>
                          </div>

                          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">ALERTA!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Seguro que desea guardar el informe?</p>
        <span>na vez guardado no se podra editar</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="submit" class="btng">Guardar Informe</button>
      </div>
    </div>
  </div>
</div>
      