<header style="background-color: #9C223C;">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid pading1">
        <a class="navbar-brand text1" href="#">SITMAH</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          </ul>
          <span class="navbar-text text1">
            PERCANCES
          </span>
        </div>
      </div>
    </nav>
  </header>
<!--boton de regresar-->
    <a href="titanes-menu">
      <button type="button" class="btn-regresar"><i class="bi bi-arrow-left" style="font-size: 30px;"></i>
      </button>
    </a>
  <body>
<!--titulo-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <p class="fw-normal">
                            <legend class="text-center header fw-bold">Percances</legend>
                        </p>

                        <input type="datetime" name="fechahora" step="1" min="2013-01-01T00:00Z" max="2013-12-31T12:00Z" value="2013-01-01T12:00">       <!--FECHA-->                 

                        <hr style="border: 2px solid transparent;">

                        <div class="row">
                          <div class="col">
                            <label for="validationDefault03" class="form-label">Vehiculo (ECO)</label>
                        <input class="form-control" list="datalistOptions"  placeholder="">
              
                          </div>
                          <div class="col">
                            <label for="validationDefault03" class="form-label">Tipo de unidad</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Apellido">
                          </div>
                        </div>
                        <hr style="border: 2px solid transparent;">

                        <div class="row">
                          <div class="col">
                            <label for="validationDefault03" class="form-label">ID_tarjeton</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Nombre">
                          </div>
                          <div class="col">
                            <label for="validationDefault03" class="form-label">Conductor</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Apellido">
                          </div>
                        </div>

                        <hr style="border: 2px solid transparent;">


                        <div class="row">
                          <div class="col">
                            <label for="validationDefault03" class="form-label">Servicio/ruta</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Nombre">
                          </div>
                          <div class="col">
                            <label for="validationDefault03" class="form-label">Ubicación</label>
                            <input type="text" class="form-control" placeholder="" aria-label="Apellido">
                          </div>
                        </div>

                          <hr style="border: 2px solid transparent;">

                          <p class="text-decoration-underline fw-bold text-center" >DATOS DEL VEHICULO PARTICULAR</p>

                          <div class="row">
                            <div class="col">
                              <label for="validationDefault03" class="form-label">Marca</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Nombre">
                            </div>
                            <div class="col">
                              <label for="validationDefault03" class="form-label">Modelo</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Apellido">
                            </div>
                          </div>

                          <hr style="border: 1px solid transparent;">

                          <div class="row">
                            <div class="col">
                              <label for="validationDefault03" class="form-label">Color</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Nombre">
                            </div>
                            <div class="col">
                              <label for="validationDefault03" class="form-label">Placas</label>
                              <input type="text" class="form-control" placeholder="" aria-label="Apellido">
                            </div>
                          </div>

                          <hr style="border: 2px solid transparent;">

                          <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Relato de los hechos</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>

                          <hr style="border: 2px solid transparent;">

                          <p class="text-decoration-underline fw-bold text-center" >FOTOS DEL PERCANCE</p>

                          <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Fotos del ECO</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                          <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Fotos del carro particular</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                                
                          <div class="mb-3">
                            <label for="formFileMultiple" class="form-label">Fotos del tarjetón</label>
                            <input class="form-control" type="file" id="formFileMultiple" multiple>
                          </div>
                                
                                
                          <hr style="border: 1px solid transparent;">

                          <div class="modal-footer">
                            <button type="buttons" class="btng">Guardar</button>
                          </div>
      